body {
    background-color: burlywood;
}
    
    h1{
    color:blue;
    font-size:50px;
    text-align: center;
    }
    
    p{
    color:blueviolet;
    font-size:30px;
    text-align:justify;
    }
