body {
    font-family: sans-serif;
    background-image: linear-gradient#FFFFFF);
}

header {
    background-color: rgb(243, 196, 239);
    border-bottom: 5px solid purple;
    padding: 20px;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
}

    h1{
    color:rgb(6, 245, 245);
    font-size:50px;
    text-align: center;
    }
    
    p{
    color:rgb(0, 116, 58);
    font-size:50px;
    text-align:center;
    }

    
.logo {
    width: 200px;
    height: 200px;
    margin: 2px; /*insere um espaçamento, ao redor da borda*/
    padding: 2px; /*define uma distância interna entre um elemento e sua borda*/
    border: 0.2rem solid #677b3e;
    border-radius: 20px;
}

.fotos {
    width: 500px;>
    height: 300px;
    margin: 10px;
    padding: 3px;
    border: 0.5rem solid #2c3546;
    border-radius: 24px;
}

.lista{
    font-size: 20px;
    color: rgb(68, 0, 255);
    list-style: none;
}

.item-lista{
    display: inline-block;
    justify-content: space-around;
    
}



    